# Backup
###################
*~

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.oo
*.a
*.so
*.so*
*.lst
*.hex
*.out
*.map


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

/.cproject
/.project



###############
eds.sql
eds-structs.h
frame_message_description.cc
hcan-def.h
hcan-protocol-referenz.txt
hcan_transport.cc
hcan_transport.h
oap-def.h

firmwares/controllerboard/devices.c
firmwares/controllerboard/devices.h
firmwares/controllerboard/devices/devices.xml
firmwares/controllerboard/timer.c

check_hcan/check_hcan
hcan4mqttpc/hcan4mqttpc
hcanaddressd/hcanaddressd
hcand/hcand
hcandq/hcandq
hcansocketd/hcansocketd
hcanswd/hcanswd
telican/telican
tools/hcanextid/hcanextid
