# hier stellen wir ATmega644 ein: 
ARCH.inc
.depend

# Backup
###################
*~

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.oo
*.a
*.so
*.so*
*.lst
*.hex
*.out
*.map


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Templates for openHAB #
#########################
installation.xml
myconf.inc
openhab.cfg
staticPart.items
staticPart.rules
staticPart.sitemap
conf_templates/
generated/
/.cproject
/.project
