/* custom icons */

.RowSelected{
    background: grey !important;
    color: white;
}

.RowUnselected{
    background: transparent !important;
}

.ui-icon-myapp-lampe:after {
	background-image: url(images/my48/lampe.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-LichtAus:after {
	background-image: url(images/my48/lampeAusgeschaltet.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-LichtEin:after {
	background-image: url(images/my48/lampeEingeschaltet.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-filter:after {
	background-image: url(images/my48/filter.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-sonstige:after {
	background-image: url(images/my48/sonstige.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-heizung:after {
	background-image: url(images/my48/heizung.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-rolladen:after {
	background-image: url(images/my48/rolladen.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-unknown:after {
	background-image: url(images/my48/unknown.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-nichts:after {
	background-image: url(images/my48/nichts.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-reedkontakt:after {
	background-image: url(images/my48/reedkontakt.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-FensterIstAuf:after {
	background-image: url(images/my48/FensterIstAuf.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-FensterIstZu:after {
	background-image: url(images/my48/FensterIstZu.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-tempsensor:after {
	background-image: url(images/my48/Temperature.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-sprich:after {
	background-image: url(images/my48/sprich2.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-Frostschutz:after {
	background-image: url(images/my48/Frostschutz.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-plus:after {
	background-image: url(images/my48/plus2.png);
	background-size: 18px 18px;
}

.ui-icon-myapp-minus:after {
	background-image: url(images/my48/-.png);
	background-size: 18px 18px;
}
