[Unit]
Description=Open Home Automation Bus (Systemd)

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/home/tt/myOpenHabInstallation/start.sh
ExecStop=/usr/bin/kill -SIGKILL $MAINPID
ExecStopPost=/usr/bin/screen -wipe
User=tt
Group=daemon
WorkingDirectory=/home/tt/myOpenHabInstallation

[Install]
WantedBy=multi-user.target
